<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.jerometseng.pdascanner">
    <uses-permission android:name="com.symbol.emdk.permission.EMDK"/>
    <queries>
        <package android:name="com.zebra.zebracontentprovider" />
        <package android:name="com.symbol.dataanalytics" />
        <package android:name="com.symbol.emdk.emdkservice" />
    </queries>
    <application>
        <uses-library android:name="com.symbol.emdk" android:required="false"/>
        <uses-library android:name="com.rscja.scanner" android:required="false"/>
    </application>
</manifest>
